<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 21px;
  }
</style>

<div class="message-content">
  <p>Olá, {{name}}</p>
  <p>Você acaba de se inscrever para a Archela Invest Class, que acontecerá no dia 15 de Setembro às 20:30.</p>
  <p>Será um prazer lhe receber. Clique no link abaixo para adicionar à sua Agenda.</p>
  <p>
    <a href="{{link}}">Adicionar evento na agenda.</a>
  </p>
  <p>Caso não queira receber mais este tipo de e-mail <a href="{{unsubscribe}}">clique aqui</a>.</p>
  <p>
    Obrigado!<br />
    <strong>Edson Archela</strong>
  </p>
</div>
